<h1> Pick a sport/team you are interested in following </h1>

<h2> To follow a new team, click here</h2>
<p> List all sports </p>
<p> List all teams </p>

<h2> To go to a team you are following, click here </h2>
<p> List all teams that you are currently 'following' </p>

<h2> To see your past games and history, click here </h2>
<p> View points and redeemabiity, by team? </p>




